<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Cold Case</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Cold Case</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/thriller/thriller3.jpeg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Cold Case</h3>
              <ul>
                <li><strong>Category</strong>: Thriller</li>
                <li><strong>Director</strong>: Tanu Balak</li>
                <li><strong>Producer</strong>: Amazon Prime Video</li>
                <li><strong>Star cast</strong>: Prithviraj Sukumaran, Aditi Balan, Pooja Mohanraj, Anil Nedumangad</li>
                <li><strong>Release Date</strong>: 7 December 2020</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                The film narrates the story of a police commissioner M. Sathyajith (Prithviraj_Sukumaran) and a journalist Medha (Aditi Balan) who stumble across a murder case. Satyajith is called to investigate a skull found in a lake. When the DNA profile does not match any reported missing cases on file, he suspects murder and seeks to identify the victim. At the same time Medha, a single mother and host of a TV show that investigates supernatural phenomena, moves into a new house with her daughter and her maid. 
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Cold_Case_(film)" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
