<%- include("partials/header") -%>



  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Coolie No. 1</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Coolie No. 1</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/comedy/comedy1.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Coolie No. 1</h3>
              <ul>
                <li><strong>Category</strong>: Comedy</li>
                <li><strong>Director</strong>: David Dhawan</li>
                <li><strong>Producer</strong>: Vashu Bhagnani</li>
                <li><strong>Star cast</strong>: Varun Dhawan, Paresh Rawal, Sara Ali Khan</li>
                <li><strong>Release Date</strong>: 25 December 2020</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Pandit Jai Kishen brings a prospective groom's family for Sarah Rozario. But when her father Jeffrey learns that that family isn't filthy rich, he insults Jai Kishen. Jai Kishen vows to teach Jeffrey a lesson for his arrogance and pride.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Coolie_No._1_(2020_film)" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->




  <%- include("partials/footer") -%>