<%- include("partials/header") -%>

  
  
  
  <!-- End Header -->

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Haseen Dillruba Review</h2>

          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li>Haseen Dillruba</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="poster/thriller/1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="#"> Haseen Dillruba</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">LetsWatch</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">14 August, 2021</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">4 Stars</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p style="text-align: justify;">
                    Haseen Dillruba (transl. Beautiful Beloved) is a 2021 Indian Hindi-language romantic mystery thriller film directed by Vinil Mathew and
                     produced by Aanand L. Rai, Himanshu Sharma, Bhushan Kumar and Krishan Kumar under the banner Colour Yellow Productions, T-Series and Eros
                      International. The film stars Taapsee Pannu, Vikrant Massey and Harshvardhan Rane.
                </p>

                <p style="text-align: justify;">
                    The film premiered on 2 July 2021 on Netflix. The film draws inspiration from Roald Dahl's infamous short story, Lamb to the Slaughter.[6] Upon release, Haseen Dilruba received mixed reviews from the film critics.
                </p>

                <blockquote>
                  <p style="text-align: justify;">
                    Paagalpan ki hadh se na guzre, wo pyaar hi kaisa ? Hosh mein toh rishte nibhaye jaate hai.
                    Sambandh toh maansik hota hai, sharirik toh sambhog hota hai.
                  </p>
                </blockquote>

                <p style="text-align: justify;">

                    Rani, a housewife, is outside her home, feeding dogs, when her house suddenly explodes, presumably killing her husband, Rishab "Rishu" Saxena. The police find a body charred-beyond-recognition, with a severed hand which Rani identifies as Rishu's. The movie alternates between the past (narrated in flashback) and the present; the reality of the explosion is interwoven with the police investigation going on in the present-day.

                    A flashback reveals the arranged marriage between the two, where he fell for her instantly, while she married him only because her boyfriend had abandoned her. There remain tensions and awkwardness between her, Rishu and his family after the marriage. To add to the tense atmosphere, a nervous Rishu fails to consummate. The next day, he overhears her telling her parents about his failure to have sex. Hurt, he stops acknowledging her completely and their relation dwindles. His well-built and charming cousin Neel Tripathi comes over to visit, and Rani gets attracted to him. They subsequently begin a relationship and have sex. Rani falls in love and even learns how to cook mutton, despite being a vegetarian. Some time later, she tells him that she would like to marry him instead. A commitment-phobic Neel panics and runs away. Hurt, Rani blurts out the truth to Rishu. He develops a disliking for her but still protects her from others who chastise her actions.

                    Meanwhile, in present-day, the police, aware of the history between Rani and Rishu, is convinced that she and Neel planned and killed Rishu. They use polygraphs and various other methodologies to find out her motive. They find footage where Neel can be seen escaping from the house, moments before the explosion. They also catch Rani cheating on one of the polygraphs by manipulating her blood pressure.

                </p>
                </div>
            </article>
          </div>
          <div class="col-lg-4 entries">
                <h4>
                  TimesOfIndia : <a href="https://timesofindia.indiatimes.com/web-series/reviews/hindi/haseen-dillruba/ottmoviereview/83502797.cms">TAAPSEE AND VIKRANT SLAY IN THIS DELECTABLY DARK AND TWISTED TALE OF LOVE</a>
                </h4>

                <h4>
                  The Hindu : <a href="https://www.thehindu.com/entertainment/reviews/haseen-dillruba-movie-review/article35093268.ece"> A ‘Gone Girl’ gone wrong</a>
                </h4>
          </div>

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
