<%- include("partials/header") -%>

  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Haseen Dillruba</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Haseen Dillruba</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/thriller/thriller1.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Haseen Dillruba</h3>
              <ul>
                <li><strong>Category</strong>: Thriller</li>
                <li><strong>Director</strong>: Vinil Mathew</li>
                <li><strong>Producer</strong>: Colour Yellow Productions, T-Series, Eros International</li>
                <li><strong>Star cast</strong>: Taapsee Pannu, Vikrant Massey, Harshvardhan Rane</li>
                <li><strong>Release Date</strong>: 12 August 2021</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Rani, a housewife, is outside her home, feeding dogs, when her house suddenly explodes, presumably killing her husband, Rishab "Rishu" Saxena. The police find a body charred-beyond-recognition, with a severed hand which Rani identifies as Rishu's. The movie alternates between the past (narrated in flashback) and the present; the reality of the explosion is interwoven with the police investigation going on in the present-day.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Haseen_Dillruba" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
