<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Hello Charlie</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Hello Charlie</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/comedy/comedy3.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Hello Charlie</h3>
              <ul>
                <li><strong>Category</strong>: Comedy</li>
                <li><strong>Director</strong>: Pankaj Saraswat</li>
                <li><strong>Producer</strong>: Farhan Akhtar and Ritesh Sidhwani</li>
                <li><strong>Star cast</strong>: Jackie Shroff Aadar Jain, Shhloka Pandit, Elnaaz Norouzi, Rajpal Yadav</li>
                <li><strong>Release Date</strong>: 9 April 2021</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                M. D. Makwana is a wanted fraudster who must escape from Mumbai after duping banks of a lot of money, for which his model girlfriend suggests disguising him as a caged gorilla so that he would be undiscovered, while at the same time, Toto, a real gorilla escapes from a crashed plane and is also declared wanted.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Hello_Charlie" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
