<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Hungama 2</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Hungama 2</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/comedy/comedy2.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Hungama 2</h3>
              <ul>
                <li><strong>Category</strong>: Comedy</li>
                <li><strong>Director</strong>: Priyadarshan</li>
                <li><strong>Producer</strong>: Ratan Jain</li>
                <li><strong>Star cast</strong>: Paresh Rawal, Shilpa Shetty, Meezaan Jafri, Pranitha Subhash</li>
                <li><strong>Release Date</strong>: 23 July 2021</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Colonel Govind Kapoor's family includes his sons Aakash alias Akku and Aman and four mischievous grandchildren. The twist in the story happens when a girl named Vaani, Akku's college girlfriend comes to their home with a child named Gehna and claims that the child's father is Akku. Akku defends himself by saying that Gehna is not his child. Akku is betrothed to his father's best friend and business partner Mr. Bajaj's daughter.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Hungama_2" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
