<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Hungama 2 Review</h2>

          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/reviews">Review</a></li>
            <li>Hungama 2</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="poster/comedy/2.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="#">Hungama 2</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">LetsWatch</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">25 July, 2021</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">4 stars</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p style="text-align: justify;">
                    Hungama 2 (transl. Ruckus 2) is a 2021 Indian Hindi-language romantic comedy film
                     directed by Priyadarshan and jointly produced by Ratan Jain, Ganesh Jain, Chetan Jain and
                      Armaan Ventures. It is the spiritual sequel of Priyadarshan's own 2003 film Hungama. It is
                       loosely based on Priyadarshan's own 1994 Malayalam film Minnaram with a comedy sequence borrowed
                        from his other Malayalam movie Vandanam. The film stars Paresh Rawal, Shilpa Shetty, Meezaan Jafri
                         and Pranitha Subhash. Hungama 2 marks the two comebacks of Priyadarshan and Shilpa Shetty to Bollywood
                          after eight years and fourteen years respectively.

                    
                </p>

                <p style="text-align: justify;">
                    Hungama 2 premiered on 23 July 2021 on Disney+ Hotstar.
                </p>

                <blockquote>
                  <p style="text-align: justify;">
                    Woh bol rahi hai pregnant bhi meri wajah se hui aur baccha bhi mera hi hai
                  </p>
                </blockquote>

                <p style="text-align: justify;">
                    Colonel Govind Kapoor's family includes his sons Aakash alias Akku and Aman and four mischievous grandchildren. The twist in the story happens when a girl named Vaani, Akku's college girlfriend comes to their home with a child named Gehna and claims that the child's father is Akku. Akku defends himself by saying that Gehna is not his child. Akku is betrothed to his father's best friend and business partner Mr. Bajaj's daughter.

                    Akku takes the help of Anjali Tiwari (Anju), his co-worker to help him to hide things about the child to not let anyone know about it. But Anjali's husband, a respected man in the town named Radhe Shyam Tiwari is a suspicious minded man. He thinks that she is having an affair with some other man and finds Akku's red socks in the camera which he secretly kept in his house. Radhe starts trying to find someone with the same red socks and finds Akku. He now thinks that Akku is lover of his wife and Gehna is their child. Thus, the confusion begins.

                    In the flashback, it is revealed that Vaani and Akku loved each other and the former left the latter suddenly without notice. They perform a DNA test and results show that the Y Chromosome match is a positive and Akku is indeed the father. Akku, now desperate tries to get his nieces and nephews to prank Vaani so she will leave. One of their pranks ends up with Gehna's hand with second-degree burns. Vaani sees Govind about to use a ruler to slap his grandchildren's butts so she takes the blame for it and ends up getting slapped. The kids feel bad and give a ruler to Vaani instead to slap their hands. Vaani doesn't and becomes their nanny and friend.

                </p>
              </div>
            </article><!-- End blog entry -->

          </div>
          <div class="col-lg-4 entries">
                <h4>
                  Hindustan Times : <a href="https://www.hindustantimes.com/entertainment/bollywood/hungama-2-review-shilpa-shetty-meezaan-paresh-rawal-and-pranitha-subhash-s-film-is-a-chaotic-mess-101627067323127.html"> Shilpa Shetty, Meezaan, Paresh Rawal’s film is distressingly dated
                </a>
                </h4>

                <h4>
                  NDTV : <a href="https://www.ndtv.com/entertainment/hungama-2-review-paresh-rawal-shilpa-shetty-meezaan-jaaferis-film-is-a-sloppy-comedy-1-star-2493601">Paresh Rawal, Shilpa Shetty, Meezaan Jaaferi's Film Is A Sloppy Comedy</a>
                </h4>


          </div>

        </div>  

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  
  <%- include("partials/footer") -%>
