<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Kabir Singh</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Kabir Singh</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/romantic/romantic3.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Kabir Singh</h3>
              <ul>
                <li><strong>Category</strong>: Romantic</li>
                <li><strong>Director</strong>: Sandeep Reddy Vanga</li>
                <li><strong>Producer</strong>: T- Series Films</li>
                <li><strong>Star cast</strong>: Shahid Kapoor, Kiara Advani</li>
                <li><strong>Release Date</strong>: 21 June 2019</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Kabir Rajdheer Singh, a house surgeon at the Delhi Institute of Medical Sciences, suffers from severe anger management problems that gain him the reputation of a bully. After a brawl, Kabir is asked to either apologise or leave; he chooses to leave but stays upon seeing a new student, Preeti Sikka.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Kabir_Singh" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
