<%- include("partials/header") -%>

  
  
  
  
  
  
  <!-- End Header -->

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Kabir Singh Review</h2>

          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li>Kabir Singh</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="poster/romantic/3.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="#">Kabir Singh</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">LetsWatch</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">23 June, 2021</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">5 Stars</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p style="text-align: justify;">
                    Kabir Singh is a 2019 Indian Hindi-language romantic drama film written and directed by Sandeep Reddy Vanga 
                    and jointly produced by Bhushan Kumar and Krishan Kumar under T-Series Films and Murad Khetani and Ashwin Varde
                     under Cine1 Studios. A remake of Vanga's own debut Telugu film Arjun Reddy (2017), it stars Shahid Kapoor in 
                     the titular role as a surgeon who spirals into self-destruction when his girlfriend, Preeti, played by Kiara Advani, 
                     marries someone else. Adil Hussain, Nikita Dutta, Arjan Bajwa, Suresh Oberoi, Dolly Minhas, Suparna Marwah, Anurag Arora,
                      Soham Majumdar, Kunal Thakur, Anusha Sampath, Amit Sharma and Kamini Kaushal feature in supporting roles.
                </p>

                <p style="text-align: justify;">
                    Principal photography for Kabir Singh began in October 2018 and ended in March 2019. The film was theatrically
                     released in India on 21 June 2019 and received mixed reviews with criticism directed at it glamorising misogyny
                      and toxic masculinity, though Kapoor's performance and the soundtrack were praised. Grossing over ₹380 crore, 
                      it became the second highest grossing Bollywood film of 2019, and Kapoor's highest grossing solo-lead release.
                </p>

                <blockquote>
                  <p style="text-align: justify;">
                    Life mein paida hona, pyaar karna aur mar jaana… Yeh 10% moments sabse important hote hain… Baaki 90% are just reactions to them.
                  </p>
                </blockquote>

                <p style="text-align: justify;">

                    Kabir Rajdheer Singh, a house surgeon at the Delhi Institute of Medical Sciences, suffers from severe anger management
                     problems that gain him the reputation of a bully. After a brawl, Kabir
                     is asked to either apologise or leave; he chooses to leave but stays upon seeing a new student, Preeti Sikka.

                    Later, Kabir and his friends announce that he has exclusively claimed Preeti. Initially timid, she adjusts to his
                     overbearing attitude and eventually reciprocates his feelings, developing an intimate relationship. Kabir graduates 
                     with an MBBS degree and moves to Mussoorie for post-graduation. Despite the distance, their relationship strengthens
                      over the next few years. After Preeti graduates, he meets her conservative parents, but her father Harpal catches them
                       kissing and throws him out.
                    
                    Harpal continues to oppose their relationship, despite Kabir's attempts to explain their love. Enraged, he asks Preeti to 
                    choose between him and her family within the next six hours, or he will end their relationship. Preeti fails to reach back 
                    to him in time; feeling abandoned, Kabir injects himself with morphine and remains unconscious for the next two days. On gaining 
                    consciousness, he finds out that Preeti is being forced into an arranged marriage and gate crashes the wedding party; Harpal has
                     him beaten and arrested. After his release, his father, Rajdheer, ostracises him from the family for his antics.
                    
                    With his friend Shiva’s help, he finds a rented flat and joins a private hospital as a surgeon. To cope with his emotions,
                     he abuses drugs and alcohol, attempts one-night stands, has casual relationships, buys a pet dog — none of which are successful.
                      Within months, he becomes a successful surgeon and a high-functioning alcoholic both respected and feared by the hospital staff.
                       His self-destructive behaviour and obsession worry his friends.
                </p>
              </div>
            </article><!-- End blog entry -->
          </div><!-- End blog entries list -->
          <div class="col-lg-4 entries">
                <h4>
                  TimesOfIndia : <a href="https://timesofindia.indiatimes.com/entertainment/hindi/movie-reviews/kabir-singh/movie-review/69879261.cms">KABIR SINGH MOVIE REVIEW</a>
                </h4>

                <h4>
                  Hindustan Times : <a href="https://www.hindustantimes.com/bollywood/kabir-singh-movie-review-shahid-kapoor-plays-the-fool-in-this-toxic-troubling-film/story-rBQXfpOZmcFDqRSHIlVrXM.html">This Shahid Kapoor film is injurious to health</a>
                </h4>

                <h4>
                  The Hindu : <a href="https://www.thehindu.com/entertainment/movies/kabir-singh-movie-review-this-arjun-reddy-remake-is-no-film-for-woman/article28101634.ece"> No film for a woman</a>
                </h4>
          </div>
                

               

              
        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  <%- include("partials/footer") -%>
