<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Love Aaj Kal 2</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Love Aaj Kal 2</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/romantic/romantic2.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Love Aaj Kal 2</h3>
              <ul>
                <li><strong>Category</strong>: Romantic</li>
                <li><strong>Director</strong>: Imtiaz Ali</li>
                <li><strong>Producer</strong>: Dinesh Vijan</li>
                <li><strong>Star cast</strong>: Kartik Aryan, Sara Ali Khan</li>
                <li><strong>Release Date</strong>: 14 Febuary 2020</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Zoe and Veer meet at a bar. The two leave and decide to spend the night together at Veer's home, but Veer stops Zoe from continuing. He tells her that the time is not right. Zoe leaves infuriated. Veer keeps following Zoe, who finally confronts him and asks him not to follow her. There is a flashback scene where Leena and Raghuvendra "Raghu" Singh have the same conversation back in Udaipur.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Love_Aaj_Kal_(2020_film)" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
