<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Mumbai Saga</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Mumbai Saga</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/action/action1.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Mumbai Saga</h3>
              <ul>
                <li><strong>Category</strong>: Action</li>
                <li><strong>Director</strong>: Sanjay Gupta</li>
                <li><strong>Producer</strong>: T- Series</li>
                <li><strong>Star cast</strong>: John Abraham, Emraan Hashmi, Kajal Aggarwal, Mahesh Manjrekar, Rohit Roy, Anjana Sukhani, Prateik Babbar, Samir Soni, Amole Gupte, Gulshan Grover</li>
                <li><strong>Release Date</strong>: 27 April 2021</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Amartya Rao ( John Abraham) belongs to a lower middle class family & his father sells vegetables at a railway overbridge. All the vendors there are forced to pay protection money to gangster Gaitonde (Amole Gupte). One day, some of the dreaded Gaitonde's henchmen assault Amartya's teenage brother Arjun. Enraged, Amartya trashes the entire gang. He is arrested by the police and subjected to further abuse by Gaitonde's henchmen. He is able to fight them all and earns the respect of criminal Nari Khan (Gulshan Grover), who warns Gaitonde of any further action.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Mumbai_Saga" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
