<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>The Last Paradiso</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>The Last Paradiso</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/romantic/romantic1.jpg" alt="" height="700">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>The Last Paradiso</h3>
              <ul>
                <li><strong>Category</strong>: Romantic</li>
                <li><strong>Director</strong>: Rocco Ricciardulli</li>
                <li><strong>Producer</strong>: Netflix and Silver Productions</li>
                <li><strong>Star cast</strong>: Riccardo Scamarcio, Gaia Bermani Amaral and Valentina Cervi.</li>
                <li><strong>Release Date</strong>: 5 Febuary 2020</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                During the 1950s in "Italy", a free and enthusiastic spirit dreams of love, justice and a better life, until a forbidden relationship threatens all of her dreams - inspired by real events.
                <br/><a class="btn btn-danger btn-rounded" href="https://www.imdb.com/title/tt11428926/" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
