<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>The Power</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>The Power</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/action/action2.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>The Power</h3>
              <ul>
                <li><strong>Category</strong>: Action</li>
                <li><strong>Director</strong>: Mahesh Manjrekar</li>
                <li><strong>Producer</strong>: Zee Plex</li>
                <li><strong>Star cast</strong>: Vidyut Jammwal, Shruti Haasan, Zakir Hussain, Prateik Babbar, Sachin Khedekar, Jisshu Sengupta</li>
                <li><strong>Release Date</strong>: 14 January 2021</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                When Kalidas(M Manjrekar) refuses to get involved in the drugs business, an assassination attempt is made on him. As a result, an innocent Anwar is killed. His daughter, Pari vows to avenge his death by wiping out the entire Thakur bloodline.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/The_Power_(2021_Indian_film)" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
