<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Red Notice</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Red Notice</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/thriller/thriller2.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Red Notice</h3>
              <ul>
                <li><strong>Category</strong>: Thriller</li>
                <li><strong>Director</strong>: Rawson Marshall Thurber</li>
                <li><strong>Producer</strong>: Universal Pictures</li>
                <li><strong>Star cast</strong>: Dwayne Johnson, Ryan Reynolds, Gal Gadot</li>
                <li><strong>Release Date</strong>: 12 November 2021</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Two thousand years ago, Marcus Antonius gifted Cleopatra three bejeweled eggs as a wedding gift symbolizing his devotion. The eggs were lost to time until two are found by a farmer in 1907, the third remaining lost.
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Red_Notice_(film)" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
