<%- include("partials/header") -%>

  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Shershah</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/theatre">Movies</a></li>
            <li>Shershah</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/action/action3.jpg" alt="">
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Shershaah</h3>
              <ul>
                <li><strong>Category</strong>: Action</li>
                <li><strong>Director</strong>: Vishnuvardhan</li>
                <li><strong>Producer</strong>: Dharma Production</li>
                <li><strong>Star cast</strong>: Siddharth Malhotra, Kiara Advani</li>
                <li><strong>Release Date</strong>: 12 August 2021</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Details</h2>
              <p style="text-align: justify;">
                Vishal Batra delivers a talk on his brother Vikram Batra, narrating the story of his life. A young Vikram Batra is playing cricket when he gets into a fight with elder teenage kids over a ball, revealing the fearless nature he later became known for. The TV series Param Vir Chakra inspires him to join the Indian Army. 
                <br/><a class="btn btn-danger btn-rounded" href="https://en.wikipedia.org/wiki/Shershaah" >Read More</a><br/><br/>
                <a href="/booking" class="main-btn mt-55">Book Now</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
