<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Shershaah</h2>

          <ol>
            <li><a href="/index1">Home</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li>Shershaah</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="poster/action/3.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="#">Shershaah</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">LetsWatch</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-08-14">14 August, 2021</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">5 Stars</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p style="text-align: justify;">
                  Shershaah (transl. Lion King) is a 2021 Indian Hindi-language biographical war film directed by Vishnuvardhan in his Hindi 
                  film debut and written by Sandeep Shrivastava. The film follows the life of Param Vir Chakra-awardee Captain Vikram Batra,
                   from his first posting in the army to his death in the Kargil War. The film stars Sidharth Malhotra as Vikram Batra and
                    Kiara Advani as his girlfriend Dimple Cheema. The film was produced by Dharma Productions and Kaash Entertainment
                    with Hiroo Yash Johar, Karan Johar, Apoorva Mehta, Shabbir Boxwala, Ajay Shah and Himanshu Gandhi serving as co-producers.
                </p>

                <p style="text-align: justify;">
                  Announced in May 2019, principal photography began in the same month and concluded in January 2020. 
                  Initially slated to be released on 
                  3 July 2020, the film was postponed due to the COVID-19 pandemic.
                </p>

                <blockquote>
                  <p style="text-align: justify;">
                    Ek fauji ke rutbe se bada koi aur rutba nahi hota, vardi ki shaan se badi koi aur shaan nahi hoti, aur apne desh se bada koi dharam nahi hota
                  </p>
                </blockquote>

                <p style="text-align: justify;">

                  Vishal Batra delivers a talk on his brother Vikram Batra, narrating the story of his life.

                        A young Vikram Batra is playing cricket when he gets into a fight with elder teenage kids over a ball, revealing the fearless nature he later became known for. The TV series Param Vir Chakra inspires him to join the Indian Army. A montage shows his patriotism and his desire to join the army as he grows up. At 23, he gets commissioned into the Delta Company, 13th battalion, Jammu and Kashmir Rifles (13 JAK RIF) and posted to Sopore as a lieutenant. He develops cordial relations with both his men and locals and takes part in counterinsurgency operations. On one such operation, he defies his CO Lt. Sanjeev "Jimmy" Jamwal but neutralises the perpetrators and saves Jimmy's life. Jimmy reprimands his approach but gets close to him later.

                  Back at the base, Batra receives a letter from his girlfriend, Dimple Cheema. The film flashes back to 1995 when Batra and Dimple start dating. They decide to get married, however, Dimple's father refuses to accept Batra as they belong to different castes. To please her dad, Batra decides to give up his Army dream and join the Merchant Navy for a higher salary. However, his friend Sunny convinces him to not give up his dream. Consequently, Batra and Dimple fight over their future.

                  Back in present, Delta Company catches an insurgent group's henchman. In retaliation, the leader Haider ambushes Delta Company by luring them with intel of a weapons cache. Batra's friend Naib Subedar Bansi Lal is among those killed. Traumatised and vengeful, he tracks down Haider and obtains authorisation from the unit’s CO, Lt. Col. Yogesh Kumar Joshi for an operation. Delta Company led by Batra raids Haider's house, killing him. Subsequently, he prepares to go on leave as unbeknownst to him the Kargil War nears.
                </p>
              </div>
            </article><!-- End blog entry -->
           </div><!-- End blog entries list -->
           <div class="col-lg-4 entries">
                <h4>
                  TimesOfIndia : <a href="https://timesofindia.indiatimes.com/web-series/reviews/hindi/shershaah/ottmoviereview/85172367.cms">AN INSPIRING WAR DRAMA OF BRAVEHEARTS AND VICTORIES</a>
                </h4>

                <h4>
                  NDTV : <a href="https://www.ndtv.com/entertainment/shershaah-review-sidharth-malhotra-has-what-it-takes-but-a-war-hero-deserves-a-more-energetic-film-2508487">Sidharth Malhotra Has What It Takes But A War Hero Deserves A More Energetic Film</a>
                </h4>

                <h4>
                  The Hindu : <a href="https://www.thehindu.com/entertainment/reviews/shershaah-movie-review/article35870514.ece">A well-made war drama bathed in familiarity</a>
                </h4>
          </div>

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  <%- include("partials/footer") -%>
