<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Theatre-wise availability</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li>Theatre-wise</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Theatre 1</li>
              <li data-filter=".filter-card">Theatre 2</li>
              <li data-filter=".filter-web">Theatre 3</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
            <div class="portfolio-item">
              <img src="img/comedy/comedy1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Coolie No.1</h3>
                <div>
                  <a href="/img/comedy/comedy1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Coolie No. 1"><i class="bx bx-plus"></i></a>
                  <a href="/coolieno1" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
            <div class="portfolio-item">
              <img src="img/comedy/comedy2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Hungama 2</h3>
                <div>
                  <a href="img/comedy/comedy2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Hungama 2"><i class="bx bx-plus"></i></a>
                  <a href="/hungama2" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
            <div class="portfolio-item">
              <img src="img/comedy/comedy3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Hello Charlie</h3>
                <div>
                  <a href="img/comedy/comedy3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Hello Charlie"><i class="bx bx-plus"></i></a>
                  <a href="/hellocharlie" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
            <div class="portfolio-item">
              <img src="img/action/action1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Mumbai Saga</h3>
                <div>
                  <a href="img/action/action1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Mumbai Saga"><i class="bx bx-plus"></i></a>
                  <a href="/mumbaisaga" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
            <div class="portfolio-item">
              <img src="img/action/action2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>The Power</h3>
                <div>
                  <a href="img/action/action2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Power"><i class="bx bx-plus"></i></a>
                  <a href="/power" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
            <div class="portfolio-item">
              <img src="img/action/action3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Shershaah</h3>
                <div>
                  <a href="img/action/action3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Shershaah"><i class="bx bx-plus"></i></a>
                  <a href="/shershah" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
            <div class="portfolio-item">
              <img src="img/thriller/thriller1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Haseen Dillruba</h3>
                <div>
                  <a href="img/thriller/thriller1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Haseen Dillruba"><i class="bx bx-plus"></i></a>
                  <a href="/haseen" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
            <div class="portfolio-item">
              <img src="img/thriller/thriller2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Red Notice</h3>
                <div>
                  <a href="img/thriller/thriller2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Red Notice"><i class="bx bx-plus"></i></a>
                  <a href="/rednotice" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
            <div class="portfolio-item">
              <img src="img/thriller/thriller3.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Cold Case</h3>
                <div>
                  <a href="img/thriller/thriller3.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Cold Case"><i class="bx bx-plus"></i></a>
                  <a href="/coldcase" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
            <div class="portfolio-item">
              <img src="img/romantic/romantic1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>The Last Paradiso</h3>
                <div>
                  <a href="img/romantic/romantic1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Last Paradiso"><i class="bx bx-plus"></i></a>
                  <a href="/paradiso" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
            <div class="portfolio-item">
              <img src="img/romantic/romantic2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Love Aaj Kal 2</h3>
                <div>
                  <a href="img/romantic/romantic2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Love Aaj Kal 2"><i class="bx bx-plus"></i></a>
                  <a href="/loveaj" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
            <div class="portfolio-item">
              <img src="img/romantic/romantic3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Kabir Singh</h3>
                <div>
                  <a href="img/romantic/romantic3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Kabir Singh"><i class="bx bx-plus"></i></a>
                  <a href="/kabir" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
