<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Thriller Movies</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li>Thriller Movies</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

          <div class="row gy-4"><center>
          <div class="col-lg-9">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <a href="/haseen"><img src="poster/thriller/1.jpg" alt=""></a>
                </div>

                <div class="swiper-slide">
                  <a href="/rednotice"><img src="poster/thriller/2.jpg" alt=""></a>
                </div>

                <div class="swiper-slide">
                  <a href="/coldcase"><img src="poster/thriller/3.jpg" alt=""></a>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div></center>
        </div>
      

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  
  <%- include("partials/footer") -%>
