body
{
	background: #3b5998;
}
.card {
  /* Add shadows to create the "card" effect */
  float: all;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.6s;
	width: 300px;
	height: 400px;
	margin: 10px;
	padding: 20px 20px;
	position: relative;
	background-color:white;
	display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.3s;
	width: 300px;
	height: 400px;
	margin: 10px;
	padding: 20px 20px;
	position: relative;
	background-color: #E5E5E5;
}

img {
  border-radius: 5px 5px 0 0;
}
/* Add some padding inside the card container */
.container {
  padding: 1px 8px;
}

.card2 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  height: 400px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}
.back {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  height: auto;
  background-color:white;
  margin-left: 30px;
}
.container2 {
  padding: 2px 16px;
   width: 400px;
  height: 400px;
}

.caption
{
	position: relative;
	margin-top: 40px;
	margin-right: 10px;
	text-align: left;
	width: 300px;
	float: right;

.wrap
{
	width: auto;
	height: auto;
	margin: auto;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 80px;
	margin-bottom: 10px;
}

.profile 
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.4s;
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 20px 20px;
	position: relative;
	background-color:white;
}

#uploaded
{
	border-radius: 50%;
	size: 100px; 
	width: 400px; 
	height: 400px;
	margin-top: 100px;
	margin-left: 75px;
	background-color: white;
}
