body
{
	background: #3b5998;
}
.wrap
{
	width: auto;
	height: auto;
	margin: auto;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 80px;
	margin-bottom: 10px;
}

.profile 
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.4s;
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 20px 20px;
	position: relative;
	background-color:white;
}


#profilepic
{
	border-radius: 50%;
	size: 100px; 
	width: 400px; 
	height: 400px;
	margin-top: 100px;
	margin-left: 75px;
	background-color: white;
}
.post
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.4s;
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 20px 20px;
	position: relative;
	background-color:white;
}
.info 
{	
	float: right;
	position: relative;
	margin-top: 40px;
	margin-right: 100px;
	text-align: left;
	width: 300px;

}


#profilepic1
{
	border-radius: 50%;
	size: 100px; 
	width: 400px; 
	height: 400px;
	margin-top: 25px;
	background-color: white;
}


hr.hrcricket
{
	border: 0;
	height: 4px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #CCEEFC, #3b5998, #CCEEFC);
	background-image: -moz-linear-gradient(left, #CCEEFC, #3b5998, #CCEEFC);
	background-image: -ms-linear-gradient(left, #CCEEFC, #3b5998, #CCEEFC);
	background-image: -o-linear-gradient(left, #CCEEFC, #3b5998, #CCEEFC);	
}

textarea
{
	position: all;
	margin-top: auto;
}
td
{
	text-align: left;
	transform-origin: top;
	font-size: 20;
}