body, html 
    {
      height: 100%;
      margin: 0;
      font-family: "Lato", sans-serif;
    }
    .hero-image 
    {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      height: 30%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-text 
    {
      text-align: center;
      position: absolute;
      font-family: "Times New Roman", Times, serif;
      top: 50%;
      left: 58%;
      transform: translate(-50%, -50%);
      color: white;    
    }

.wrap
{
	width: 400px;
	height: 400px;
	margin: auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.profile 
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.4s;
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 20px 20px;
	position: relative;
  background-color:white;
  opacity: 0.9;
}

#profilepic
{
	border-radius: 50%;
	size: 100px; 
	width: 300px; 
	height: 300px;
	margin-top: 25px;
}

.info
{
	text-align: left;
	margin: 25px 0;
	min-width: 400px;
	min-height: auto;
	border-collapse:separate; 
    border-spacing:0 15px; 
}
hr.hrartist
{
  border: 0;
  height: 4px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ECDBE9, #D876C6, #ECDBE9);
  background-image: -moz-linear-gradient(left, #ECDBE9, #D876C6, #ECDBE9);
  background-image: -ms-linear-gradient(left, #ECDBE9, #D876C6, #ECDBE9);
  background-image: -o-linear-gradient(left, #ECDBE9, #D876C6, #ECDBE9);  
  
}

hr.hrbollywood
{
  border: 0;
  height: 4px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ECF4F5, #51CFD3, #ECF4F5);
  background-image: -moz-linear-gradient(left, #ECF4F5, #51CFD3, #ECF4F5);
  background-image: -ms-linear-gradient(left, #ECF4F5, #51CFD3, #ECF4F5);
  background-image: -o-linear-gradient(left, #ECF4F5, #51CFD3, #ECF4F5);
}

hr.hrbusiness
{
  border: 0;
  height: 4px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #DBE1DC, #5EA269, #DBE1DC);
  background-image: -moz-linear-gradient(left, #DBE1DC, #5EA269, #DBE1DC);
  background-image: -ms-linear-gradient(left, #DBE1DC, #5EA269, #DBE1DC);
  background-image: -o-linear-gradient(left, #DBE1DC, #5EA269, #DBE1DC);  
}

hr.hrcricket
{
  border: 0;
  height: 4px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #CCEEFC, #2773C5, #CCEEFC);
  background-image: -moz-linear-gradient(left, #CCEEFC, #2773C5, #CCEEFC);
  background-image: -ms-linear-gradient(left, #CCEEFC, #2773C5, #CCEEFC);
  background-image: -o-linear-gradient(left, #CCEEFC, #2773C5, #CCEEFC);  
}

hr.hrfootball
{
  border: 0;
  height: 4px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #D9D9D9, #E71F19, #D9D9D9);
  background-image: -moz-linear-gradient(left, #D9D9D9, #E71F19, #D9D9D9);
  background-image: -ms-linear-gradient(left, #D9D9D9, #E71F19, #D9D9D9);
  background-image: -o-linear-gradient(left, #D9D9D9, #E71F19, #D9D9D9);
}

hr.hrhollywood
{
  border: 0;
  height: 4px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #DDDDE0, #151516, #DDDDE0);
  background-image: -moz-linear-gradient(left, #DDDDE0, #151516, #DDDDE0);
  background-image: -ms-linear-gradient(left, #DDDDE0, #151516, #DDDDE0);
  background-image: -o-linear-gradient(left, #DDDDE0, #151516, #DDDDE0);
}

hr.hrpolitics
{
  border: 0;
  height: 4px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #FEF5ED, #FE7C10, #FEF5ED);
  background-image: -moz-linear-gradient(left, #FEF5ED, #FE7C10, #FEF5ED);
  background-image: -ms-linear-gradient(left, #FEF5ED, #FE7C10, #FEF5ED);
  background-image: -o-linear-gradient(left, #FEF5ED, #FE7C10, #FEF5ED);  
}


* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #B9B8B8;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.prev
{
  left: 4%;	
  top: 40%;
  border-radius: 0 6px 6px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0%;
  top: 40%;
  border-radius: 6px 0 0 6px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #2C2C2D;
}

/* Caption text */
.text {
  color: #7B7D7A;
  font-size: 18px;
  padding: 12px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


h1, h2
{
  font-family: "Times New Roman", Times, serif;
}
