* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container 
{
  max-height: 550px;
  width: auto;
  position: relative;
  margin: auto;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

    .hero-text 
    {
      text-align: center;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 60px;
      opacity: 0.5;
      background-color: black;
      width: 100%;
      height: 80px;
    }

.dropbtn 
{
  background-color: #2E2C2C;
  color: white;
  padding: 22px;
  font-size: 18px;
  border: 1px solid transparent;
  border-collapse: separate;
  border-radius: 15px;
  width: 200px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 82%;
  opacity: 0.9;
}

.dropbtn:hover, .dropbtn:focus 
{
  background-color: #A72929;
}

.banner
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("title.jpg");
  height: 185px;
  width: auto;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}

frame
{
  position:absolute; 
  top:10px; 
  bottom:0px; 
  width:200px; 
  background-color: #E4E9F1;
  color:white;right:10px;
}