.mainbar .article1 {
	margin:0;
	padding:10px 0 5px 15px;
}3b5998
.mainbar .article1 a {
	color:#78bbe6;
}

.mainbar1 {
	margin:0;
	padding:0;
}
.main1 {
	padding:0;
	margin:0;
	background:url(images/main_bg1.jpg) repeat-y center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active1 a, ul.ex_menu li.active a {
	color:#FFF;
	background:#3b5998;
}
.menu_nav ul li.active1 a, .menu_nav ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:#3b5998;
}
